.container{
    width : 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin:auto;
    padding: auto;
    background-color: #282A3A;
    color: #FFFFFF;
}
.container1{
    display:flex;
    margin:auto;
    align-items: center;
    text-align: center;
    font-size: ;
}
