@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

.OnlineNow {
	border-radius: 11px;
	height: 220px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
	border-radius: 11px;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0 15px;
	border-radius: 11px 11px 0 0;
	background: #735F32;
	font-family: 'McLaren', cursive;
}

.online__green {
	width: 20px;
	height: 20px;
	background: #24E92C;
	border-radius: 50%;
}

.online__profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: calc(100% - 70px);
	overflow: scroll;
}

.user__profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid white;
	background: #7D7272;
}

.tmp_profile {
	width: 50px;
	height: 50px;
	margin: 10px;
	cursor: pointer;
}

.online__profile div {
	font-size: 10px;
	text-align: center;
	width: 50px;
}